body {
    font-family: sans-serif;

    font-size: 14px;
    font-color: black;
    background-color: white;
}

header {
    display: block;
    background-color: #DEF5FF;
    background-image: url('hackeremblem.png');
    background-position: right;
    background-repeat: no-repeat;

    height: 2.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#name {
    font-size: 1.5em;
}

#content {
    padding-left: 10px;
}

span.loc {
    white-space-collapse: consume-before;
    border-left: 1px solid black;
    padding-left: 10px;
    margin-left: 5px;
}
